.ui-helper-hidden-accessible{
    display: none;
}
#search-dropdown::after{
    content: none;
}
img {
    display: block;
    width: 50%;
    border-radius: 20px;
    max-height: 50%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    
}
#navbarBasic{
    font-size: auto;
}
.navbar-menu{
    display: contents;
}

#feature-artist-header{
    text-align: center;
    font-size: 40px;
    flex-shrink: 1;
}
#feature-artist-box{
    max-height: 900px;
}
a.subtitle{
    display: inline-block;
    font-size: 30px; 
    flex-shrink: 1;
}
p.title{
    font-size: 40px;
}
#card-header{
    text-align: center;
    font-size: 40px;
}
#top-artist-header{
    text-align: center;
    font-size: 40px;
}
#genre-main-content.tile.is-child.box{
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: hsl(141, 53%, 53%);
}
#main-artist-content{
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: hsl(141, 53%, 53%);
}
.content{
    font-family: 'Raleway', sans-serif;
    padding: 10px;
}
p.subtitle{
    font-size: 30px;
    font-weight: bold;
    flex-shrink: 3;
}
#search-dropdown{
    justify-content: center;
}

.navbar{
    font-weight: bolder;
    font-size: large;
}

#artist-link{
    font-weight: bold;
    display: inline-block;
}

#artist-link :hover{
    color: hsl(217, 71%, 53%);
}

.button.is-primary{
    display: inline-block;
    margin-bottom: 10px;
}
.button{
    margin-left: 10px;
    display: inline-block;
}
#feature-artist-box{
   display: inline-block;
   position: sticky;
   top: 0;
}

#feature-artist-info{
    font-size: 30px;
    font-weight: bolder;
}
a.subtitle.id{
    display: inline-block;
    font-size: 30px;
}
  @media screen and (max-width: 768px) {
    #feature-artist-box{
        flex-direction: column;
    }
  }
  
  